snippet ul
	<ul>
		<li>${1}</li>
	</ul>
snippet ol
	<ol>
		<li>${1}</li>
	</ol>
snippet li
	<li>${1}</li>
snippet para
	<p>${1}</p>
snippet alink
	<a href="${1}">${2}</a>
snippet tr
	<tr>
		<td>${1}</td>
	</tr>
snippet td
	<td>${1}</td>
