snippet alink
	<a href="${1}">${2}</a>
snippet tr
	<tr>
		<td>${1}</td>
	</tr>
snippet td
	<td>${1}</td>
snippet br
	<br />
snippet h2
	<h2>${1}</h2>
snippet h3
	<h3>${1}</h3>
snippet h4
	<h4>${1}</h4>
snippet h5
	<h5>${1}</h5>
