snippet phpp
	<?php ${1} ?>
snippet phpe
	<?php echo ${1} ?>
snippet db
	debug(${1});
snippet dbd
	debug(${1}); die();
snippet isset
	isset(${1})
snippet inn
	is_null(${1})
snippet lec
	__('${1}');
snippet phpb
	<?php 
		${1}
	?>
