alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/Development"
alias gd="cd /Volumes/GoogleDrive/My\ Drive"
alias dt="cd ~/dotfiles"
alias gpom="git push origin master"
alias grep="grep --color=auto"
alias ll="ls -la"
alias h="history"
alias sbr="source ~/.bashrc"
