# vim: filetype=sh

alias dl="cd ~/Downloads"
alias de="cd ~/Desktop"
alias dev="cd ~/Development"
alias sc="cd ~/Development/Scratch/"
alias gd="cd /Volumes/GoogleDrive/My\ Drive"
alias dt="cd ~/dotfiles"
alias cw="cd ~/vimwiki"
alias gpom="git push origin master"
alias gst="git status"
alias gcm="git commit -a -m "
alias ll="ls -Gla"
alias ls="ls -G"
alias h="history"
alias hg="history | grep"
alias szr="source ~/.zshrc"
alias c="clear"
alias grep="grep --color=auto"
alias cpssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias gdig="dig @8.8.8.8"
alias hlist="cat ~/.ssh/config | tail -n +3 | grep \"Host\s\""
alias res="cd ~ && clear" # reset terminal
# Open with existing gvim instance; "existing vim"
alias vh="sudo vim /etc/hosts"
alias fdns="sudo killall -HUP mDNDResponder"
alias wps="wpscan --url"
alias mmd="multimarkdown"
alias vw="vim -c 'execute \"normal \\\\ww\"'"

# view folders sorted by disk usage
alias folders='find . -maxdepth 1 -type d -print0 | xargs -0 du -sk | sort -rn'

# quick navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
