# vim: filetype=sh

alias dl="cd ~/Downloads"
alias de="cd ~/Desktop"
alias dev="cd ~/Development"
alias gd="cd /Volumes/GoogleDrive/My\ Drive"
alias dt="cd ~/dotfiles"
alias gpom="git push origin master"
alias gst="git status"
alias gcm="git commit -a -m "
alias ll="ls -Gla"
alias ls="ls -G"
alias h="history"
alias hg="history | grep"
alias szr="source ~/.zshrc"
alias c="clear"
alias grep="grep --color=auto"
alias cpssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias gdig="dig @8.8.8.8"
alias hlist="cat ~/.ssh/config | grep \"Host\s\""
# Open with existing gvim instance; "existing vim"
alias exv="gvim --remote"
alias vh="sudo vim /etc/hosts"

# view folders sorted by disk usage
alias folders='find . -maxdepth 1 -type d -print0 | xargs -0 du -sk | sort -rn'

# quick navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
