# System files
.DS_Store
.Spotlight-V100
.Trashes
*.swp
*.swo

# Python
*.py[cod]
__pycache__/
.local/lib/
.local/share/
.local/state/
.local/bin/pipenv*

# Package directories
.poetry/

# Caches
.wp-cli/cache/
.config/iterm2/sockets/
.config/op/op-daemon.sock
.config/configstore/

# Local configs that may contain sensitive info
.config/gh/hosts.yml

# Vim
.vim/plugged/
.vim/.netrwhist
.vim/backup/
.config/nvim/after/ftplugin/foo.md
.local/bin/claude
