[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/rails"]
	path = vimfiles/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vimfiles/bundle/peepopen"]
	path = vimfiles/bundle/peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://git.wincent.com/command-t.git
