# System files
.DS_Store
*.swp
*.swo

# Temp/Cache directories
.local/lib/
.local/share/
.local/state/
.wp-cli/cache/
.config/iterm2/sockets/
.config/op/op-daemon.sock
.config/configstore/

# Python
__pycache__/
*.py[cod]
.poetry/lib/
.poetry/env/

# Current Vim setup (until Neovim migration)
.vim/backup/
.vim/.netrwhist
.vim/plugged/
