$fromName = '<++>';
$fromEmail = '<++>';
$toEmail = '<++>';
$toName = '<++>';
$subject = '<++>';

$this->SwiftMailer->startup($this);
$this->SwiftMailer->connection = 'native';
$this->SwiftMailer->connect();
$this->SwiftMailer->reset();
$this->SwiftMailer->addTo('from', $fromEmail, $fromName);
$this->SwiftMailer->addTo('to', $toEmail, $toName);
$this->SwiftMailer->sendView($subject,<++>);

